# Django
SECRET_KEY=change-me-generate-with-python-secrets
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=https://vibescan.cz

# Database
DB_NAME=vibescan
DB_USER=vibescan
DB_PASSWORD=vibescan
DB_HOST=db
DB_PORT=5432

# Redis & Celery
REDIS_PASSWORD=change-me-strong-redis-password
REDIS_URL=redis://:change-me-strong-redis-password@redis:6379/0

# Admin superuser (created on first run)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=vibescan@michaelkalus.cz
DJANGO_SUPERUSER_PASSWORD=change-me-strong-admin-password

# App
RATE_LIMIT_PER_HOUR=10
SCAN_TIMEOUT_SECONDS=30
GTM_ID=
